@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap");

.section {
  flex-wrap: wrap;
  background: aqua;
  width: 100%;
  height: 42rem; 
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
 /*  width: 100%;
  height: auto; */

  &__one {
    padding-top: 9rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 40rem;
  }
  &__title {
    font-size: 3.5rem;
    font-family: "Playfair Display SC", serif;
    text-align: center;
    margin-left: 5rem;
    margin-right: 40rem;
  }
  &__sub-title {
    font-family: "Playfair Display SC", serif;
    text-align: center;
    margin-left: 10rem;
    margin-right: 47rem;
    padding-bottom: 3rem;
  }
 /*  @include tablet() {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-between;
    margin-top: auto;
  }
  @include desktop() {
    flex-wrap: wrap;
    display: grid;
    justify-content: space-between;
  } */
}

.icon-vsc {
  font-size: 0.5rem;
  font-weight: 800;
}

.img-one {
  float: right;
  width: 25rem;
  height: 35rem;
  margin-top: 4.5rem;
  margin-right: 5rem;
/*   margin-left: 55rem;
 */  

  /* @include tablet() {
    flex-wrap: wrap;
    display: grid;
  }
  @include desktop() {
    flex-wrap: wrap;
    display: grid;
  } */
}
